<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/Overstag.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/materialize.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link rel="stylesheet" href="~/css/Overstag.min.css" />
</head>
<body>
    <style>
        .bigbtn {
            margin-top: 1em;
        }
    </style>

    <nav>
        <div class="nav-wrapper green">
            <a href="#" class="brand-logo center">Overstag Pay</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li class="navitem"><a href="/Home">Home</a></li>
                <li class="navitem" id="_invoice"><a href="@Html.Raw((ViewBag.InvoiceURL!=null) ? "/Pay/Invoice/"+Uri.EscapeDataString(ViewBag.InvoiceURL) : "#")">Factuur</a></li>
            </ul>
            <ul class="sidenav" id="mobile-demo">
                <li class="navitem"><a href="/Home">Home</a></li>
                <li class="navitem" id="_minvoice"><a href="@Html.Raw((ViewBag.InvoiceURL!=null) ? "/Pay/Invoice/"+Uri.EscapeDataString(ViewBag.InvoiceURL) : "#")">Factuur</a></li>
            </ul>
            <div class="progress" id="_progbar" style="display: none;">
                <div class="indeterminate"></div>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.modal').modal();
        });

        OverstagJS.init();
    </script>
</body>
</html>
