@{
    ViewBag.Title = "Over ons";
}
<body class="grey darken-3 white-text">
    <div class="row center-align">
        <h2 class="blue-light-text">Over ons</h2>
        <div class="col s10 offset-s1">
            <h4 class="blue-middle-text"><b>Naam en logo</b></h4><br />
            <p class="flow-text">Overstag gaan is een bekende term uit de zeilsport. Je gaat overstag op het moment dat je van koers/richting wil veranderen.</p>
            <p>Verschillende ouders uit Rilland bemerkten dat jongeren leuke contacten hier in Rilland missen met andere christelijke jongeren. Er worden geen activiteiten voor christelijke jongeren georganiseerd. Soms zochten jongeren hun vrijetijdsbesteding in gelegenheden waar ze niet thuis horen. Het organiseren van jongerenactiviteiten zou goed kunnen voorzien in deze behoefte.</p>
            <p>
                Om dit op te zetten moeten ouders wel &quot;overstag&quot; en daadwerkelijk helpen/financieren om deze avonden te kunnen organiseren en betalen. Ook jongeren die de gezelligheid zoeken in (overmatig) alcohol gebruik of middelen gebruik moeten overstag gaan en gaan ontdekken dat &quot;zonder&quot; ook gewoon gezellig is.
                In het logo hebben we dan ook een zeilboot afgebeeld die overstag wil gaan.
            </p>
            <p class="flow-text">Omdat we een christelijke stichting zijn willen we dat dit ook herkenbaar is in ons logo. In het logo zijn dat de belangrijkste symbolen van het Christendom opgenomen:</p>
            <div class="row">
                <ul class="collection col m3 s6 offset-m3">
                    <li class="grey darken-3 collection-item"><b>&#x2671;</b> Kruis (Geloof)</li>
                    <li class="grey darken-3 collection-item"><b>&#x2693;</b> Anker (Hoop)</li>
                    <li class="grey darken-3 collection-item"><b>&#x2661;</b> Hart (Liefde)</li>
                </ul>
                <div class="col m5 s6">
                    <img src="~/img/logo.png" class="responsive-img" />
                </div>
            </div>
            <br />
            <h4 class="blue-middle-text"><b>Deelname en kosten</b></h4>
            <!--Inhoudelijk correct maken-->
            <p class="flow-text">De eerste keer als je komt hoef je je niet op te geven. Je bent dan onze gast en deelname is dan gratis.</p>
            <p class="flow-text">De andere keren geef je je deelname door via de deelnameknop op de homepage. Je komst wordt dan geregistreerd en de kosten kan je dan direct betalen of worden achteraf verrekend met je ouders. </p>
            <p class="flow-text">Ben je verhinderd, meld je dan via dezelfde app af. Als je dat niet doet dan worden er gewoon kosten in rekening gebracht. Een gewone chill-avond kost 2 euro. De kosten voor activiteiten zijn gemiddeld 7,50 euro per activiteitenavond.</p>

            <br />
            <h4 class="blue-middle-text"><b>Doelstelling</b></h4>
            <ul class="collection col s12 m8 offset-m2 center-align">
                <li class="grey darken-3 collection-item">Het bieden van een zinvolle en verantwoorde tijdsbesteding op vrijdag- of zaterdagavond.</li>
                <li class="grey darken-3 collection-item">Het voorkomen van vroegtijdig drank en middelen gebruik onder christelijke jongeren.</li>
                <li class="grey darken-3 collection-item">Het bevorderen van gesprekken en relaties tussen christelijke jongeren onderling en deelnemende ouders.</li>
            </ul>

        </div>

        <div class="col s10 offset-s1">
            <h4 class="blue-middle-text"><b>Whatsapp-groep</b></h4>
            <p class="flow-text">We hebben ook een whatts-app groep. Dit is een groep waarin je uitsluitend berichten kunt ontvangen. Meld je hier aan voor deelname, zo ben je tijdig op de hoogte als er bepaalde activiteiten zijn of er wijzigingen zijn in het programma.</p>

            <br />
            <h4 class="blue-middle-text"><b>Steun ons!</b></h4>
            <p>
                Voor ons voortbestaan zijn we afhankelijk van giften vanuit de achterban. Verschillende mensen en bedrijven hebben besloten om ons incidenteel of jaarlijks te ondersteunen.
                U kunt hieronder via ideal een gift naar ons overmaken. Alvast hartelijk dank!
            </p>
            <br />

            <h5 class="blue-middle-text"><b>We zijn onderstaande bedrijven dankbaar voor hun jaarlijkse bijdrage:</b></h5>
            <br />
            <div class="row col s12 m10 offset-m1">
                <!--div class="col m4 s12"><a target="_blank" href="http://www.hoekman-tussendescheldes.nl"><img class="responsive-img" src="~/img/hoekman.jpg" /></a></div-->
                <!--div class="col m4 s12"><a target="_blank" href="http://www.saman-schilders.nl/"><img class="responsive-img" src="~/img/saman.png" /></a></div-->
                <div class="col m4 s12"><a target="_blank" href="https://www.spar.nl/winkels/spar-de-neve-993/"><img class="responsive-img" src="~/img/spar.jpg" /></a></div>
            </div>
        </div>
    </div>
</body>


<script>
    $(function () {
        $('#_about').addClass('active');
        $('#_mabout').addClass('active');
    });
</script>