@{
    ViewBag.Title = "Overstag - Over ons";
    ViewBag.Description = "Welkom op de website van stichting Overstag! Wij organiseren voor christelijke jongeren in Rilland en omgeving elke week een chill of activiteitenavond. We vinden het belangrijk dat christelijke jongeren uit Rilland elkaar ontmoeten en het samen gezellig hebben met elkaar.";
    ViewBag.Keywords = "Stichting Overstag, Overstag, Rilland, jongerenavond, overstag, christelijk, activiteiten, Reimerswaal, Informatie, informatie overstag";
    ViewBag.Canonical = "https://stoverstag.nl/over-ons";
}
<div class="row"></div>
<div class="row">
    <div class="card col s12 m10 offset-m1 rounded">
        <div class="card-content">
            <div class="row center-align">
                <h1 class="blue-dark-text">Over ons</h1>
                <div class="col s10 offset-s1">
                    <h4 class="blue-middle-text"><b>Naam en logo</b></h4><br />
                    <p class="flow-text">Overstag gaan is een bekende term uit de zeilsport. Je gaat overstag op het moment dat je van koers/richting wil veranderen.</p>
                    <br />
                    <p>Verschillende ouders uit Rilland bemerkten dat jongeren leuke contacten hier in Rilland missen met andere christelijke jongeren. Er worden geen activiteiten voor christelijke jongeren georganiseerd. Soms zochten jongeren hun vrijetijdsbesteding in gelegenheden waar ze niet thuis horen. Het organiseren van jongerenactiviteiten zou goed kunnen voorzien in deze behoefte.</p>
                    <p>
                        Om dit op te zetten moeten ouders wel &quot;overstag&quot; en daadwerkelijk helpen/financieren om deze avonden te kunnen organiseren en betalen. Ook jongeren die de gezelligheid zoeken in (overmatig) alcohol gebruik of middelen gebruik moeten overstag gaan en gaan ontdekken dat &quot;zonder&quot; ook gewoon gezellig is.
                        In het logo hebben we dan ook een zeilboot afgebeeld die overstag wil gaan.
                    </p>
                    <br />
                    <p class="flow-text">Omdat we een christelijke stichting zijn willen we dat dit ook herkenbaar is in ons logo. In het logo zijn dat de belangrijkste symbolen van het Christendom opgenomen:</p>
                    <div class="row">
                        <ul class="collection col m3 s12 offset-m3">
                            <li class="collection-item"><b>&#x2671;</b> Kruis (Geloof)</li>
                            <li class="collection-item"><b>&#x2693;</b> Anker (Hoop)</li>
                            <li class="collection-item"><b>&#x2661;</b> Hart (Liefde)</li>
                        </ul>
                        <div class="col m5 s12">
                            <img src="~/img/logo.png" class="responsive-img materialboxed" alt="Stichting Overstag Rilland Logo" />
                        </div>
                    </div>
                    <br />
                    <h4 class="blue-middle-text"><b>Deelname en kosten</b></h4>
                    <!--Inhoudelijk correct maken-->
                    <p class="flow-text">Als je voor de eerste keer komt is het fijn dat je even een bericht stuurt naar 06-13606432. We kunnen je dan van de benodigde informatie over de avond voorzien en als het een activiteitenavond betreft, zorgen dat er voldoende vervoer is. De eerste chill-avond ben je onze gast en betaal je niet voor deelname/drankjes.</p>
                    <p class="flow-text">
                        De ander keren dat je komt, ga je naar het tabblad &quot;activiteiten&quot; Hier kan je met 1 druk op de knop jezelf inschrijven voor een avond.
                        Je krijgt dan achteraf een betaalverzoek voor de deelgenomen chill-avonden/activiteiten toegestuurd.
                    </p>
                    <p class="flow-text">
                        Ben je (plotseling) verhinderd? Meld je dan via hetzelfde tabblad  &quot;activiteiten&quot; af. Het kan zijn dat als je dit vergeet, dat de kosten wel gewoon in rekening worden gebracht.
                        De kosten voor een chill-avond zijn 2 euro per keer. De kosten voor de activiteiten verschillen, maar zijn gemiddeld ongeveer 7,50 euro per avond.
                        <br /><br />Via het tabblad &quot;activiteiten&quot; kan je zelf activiteiten voorstellen én op de activiteiten die daar staan stemmen. Activiteiten die hoog scoren, nemen we op in ons activiteitenprogamma!
                    </p>
                    <p class="flow-text">
                        Alle versnaperingen zijn gratis tijdens de chillavonden. Er is 1 uitzondering: als je alcoholvrij bier, radler of wijn bestelt dan betaald je daarvoor 1 euro per drankje. Deze kosten worden toegevoegd aan het bedrag dat je betaalt voor de chill-en activiteitenavonden.
                    </p>
                    <p class="flow-text">
                        Om de ca. 6 weken krijg je via de app een betaalverzoek om de kosten te voldoen. We vinden het fijn als je spoedig betaalt.
                    </p>

                    <br />
                    <h4 class="blue-middle-text"><b>Doelstelling</b></h4>
                    <ul class="collection col s12 m8 offset-m2 center-align">
                        <li class="collection-item">Het bieden van een zinvolle en verantwoorde tijdsbesteding op vrijdag- of zaterdagavond.</li>
                        <li class="collection-item">Het voorkomen van vroegtijdig drank en middelen gebruik onder christelijke jongeren.</li>
                        <li class="collection-item">Het bevorderen van gesprekken en relaties tussen christelijke jongeren onderling en deelnemende ouders.</li>
                    </ul>

                </div>

                <div class="col s10 offset-s1">
                    <h4 class="blue-middle-text"><b>Whatsapp-groep</b></h4>
                    <p class="flow-text">
                        We hebben ook een Whatapp-groep. In deze app worden berichten gedeeld die te maken hebben met de chill- en activiteitenavonden. Zo ben je tijdig op de hoogte als er bepaalde activiteiten worden aangekondigd of wijzigen. Nadat je een account hebt aangemaakt wordt je (wanneer je een telefoonnummer hebt ingevoerd) ook toegevoegd aan de whatsapp-groep. Het is niet de bedoeling om onnodige berichten met iedereen te delen. Nog geen Overstag bezoeker, maar wel mee lezen wat er allemaal speelt? Geef je nummer dan door via 06-13606432.
                    </p>

                    <br />
                    <h4 class="blue-middle-text"><b>Steun ons!</b></h4>
                    <p>
                        Het zou erg fijn zijn als u ons ook wilt steunen! We zijn blij met elk bedrag dat we binnen krijgen! U kunt uw bijdrage overmaken naar IBAN NL30 RABO 0380 5006 39 t.g.v. T.H.M. Golverdingen. Graag vermelden: gift Overstag.
                    </p>
                    <br />

                    <h4 class="blue-middle-text" id="huisregels">Huisregels tijdens onze avonden</h4>
                    <p>De 10 geboden zijn ons uitgangspunt tijdens de chill-avonden en als we activiteiten gaan ondernemen.</p>
                    <p>We willen met God en elkaar omgaan zoals dat verwoord is in Mattheus 22: &quot;<i>U zult de Heere, uw God, liefhebben met heel uw hart, met heel uw ziel en met heel uw verstand. Dit is het grote en eerste gebod. Het tweede, hieraan gelijk, is: U zult uw naaste liefhebben als uzelf.</i>&quot;</p>
                    <p>In de kist is het niet toegestaan om alcohol te nuttigen, we serveren wel alcoholvrij bier of radler. We zijn ervan overtuigd dat we het ook zonder alcohol gezellig kunnen hebben met elkaar. Roken mag uitsluitend buiten. Gebruik van wiet of andere drugs is niet toegestaan. Als je toch alcoholische drank drinkt /meeneemt of bepaalde middelen gebruikt krijg je een waarschuwing. Na een tweede keer ben je niet meer welkom in de kist. We vertrouwen er op dat dit uiteraard niet zal plaatsvinden.</p>
                    <p>Wel vinden we het fijn als je op een fatsoenlijke manier gekleed bent en met je kleding geen aanstoot geeft.</p>
                    <br /><br />
                    <h5 class="blue-middle-text"><b>We zijn onderstaande bedrijven dankbaar voor hun bijdrage:</b></h5>
                    <br />
                    <div class="row">
                        <div class="col m3 s12"><a target="_blank" href="https://www.spar.nl/winkels/spar-de-neve-993/"><img alt="Overstag Spar" class="responsive-img" src="~/img/spar.jpg" /></a></div>
                        <div class="col m3 s12"><a target="_blank" href="https://www.reimerswaal.nl"><img class="responsive-img" alt="Overstag Reimerswaal" src="~/img/reimerswaal.png" /></a></div>
                        <div class="col m2 s12"><a target="_blank" href="https://www.zandbaan.nl"><img class="responsive-img" alt="Overstag de Zandbaan" src="~/img/zandbaan.png" /></a></div>
                        <div class="col m2 s12"><a target="_blank" href="https://www.calvijncollege.nl"><img class="responsive-img" style="width: 10em" alt="Overstag Calvijn College" src="~/img/cc.png" /></a></div>
                        <div class="col m2 s12"><a target="_blank" href="https://dehaarstudio.nl/"><img class="responsive-img" alt="Overstag de Haarstudio Rilland" src="~/img/kapper.png" /></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#_about, #_mabout').addClass('active');
    });
</script>