@{
    ViewBag.Title = "Overstag - Contact";
    ViewBag.Description = "Stichting Overstag - Heeft u interesse? Neem gerust contact met ons op!";
    ViewBag.Keywords = "jongerenavonden rilland, jongerenavonden reimerswaal, overstag jongerenavonden, Stichting Overstag, overstag contact, overstag reimerswaal, overstag rilland";
    ViewBag.Canonical = "https://stoverstag.nl/contact";
}

<div class="row"></div>
<div class="row">
    <div class="card col col s12 m10 offset-m1 rounded" style="display: none;">
        <div class="card-content">
            <div class="col s10 offset-s1 center-align">
                <h1 class="o-blue-text text-darken">Contact</h1>
                <br />
                <h4 class="o-blue-text text-middle"><b>Contact opnemen</b></h4>

                <div class="row">
                    <div class="col s12 m6">
                        <h5 class="o-blue-text"><b>Schriftelijk</b></h5>
                        <p class="flow-text">
                            Voor schriftelijke correspondentie kan het adres van de secretaris gebruikt worden:<br /><br />
                            <i>
                                Stichting Overstag<br />
                                T.a.v. het secretariaat<br />
                                <br />
                                Kapucijnenweg 28<br />
                                4411 NC RILLAND
                            </i>
                        </p>
                        <br />
                        <h5 class="o-blue-text"><a href="https://goo.gl/maps/ToakxvLLJ8k6DB5E9" target="_blank"><u>Adres chillavonden</u></a>:</h5>
                        <p class="flow-text">
                            <i>
                                De Kist<br />
                                Cromvlietstraat 30<br />
                                4411 AE Rilland
                            </i>
                        </p>
                    </div>
                    <div class="col s12 m6">
                        <h5 class="o-blue-text"><b>Email</b></h5>
                        <p class="flow-text">Je kan ook een mail sturen naar: <a href="mailto:secretaris@stoverstag.nl">secretaris@@stoverstag.nl</a></p>
                        <br />
                        <h5 class="o-blue-text"><b>Telefonisch</b></h5>
                        <p class="flow-text">Of bellen/appen naar: <b>06-13606432</b></p>
                        <br />
                        <h5 class="o-blue-text"><b>Social media</b></h5>
                        <div class="row">
                            <div class="col s12">
                                <a href="https://www.instagram.com/st.overstag/"><img src="~/img/insta.png" style="height: 5em; width: 5em" alt="Overstag instagram st.overstag" /></a>
                                <h5><a href="https://www.instagram.com/st.overstag/">st.overstag</a></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col s12">
                        <div class="carousel">
                            <a class="carousel-item" href="#one!"><img src="~/img/kist1.jpg" alt="Stichting Overstag Rilland" style="height: 150%; width: 150%"></a>
                            <a class="carousel-item" href="#two!"><img src="~/img/kist2.jpg" alt="Stichting Overstag Rilland" style="height: 150%; width: 150%"></a>
                            <a class="carousel-item" href="#three!"><img src="~/img/kist3.jpg" alt="Stichting Overstag Rilland" style="height: 150%; width: 150%"></a>
                        </div>
                    </div>
                </div>
                <br />

                <h4 class="o-blue-text text-middle"><b>Stichtingsbestuur</b></h4>
                <p>Het stichtingsbestuur bestaat uit 4 leden.</p>
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th>Naam</th>
                            <th>Functie</th>
                            <th>Telefoonnummer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bas Westsrate</td>
                            <td>Algemeen bestuurslid</td>
                            <td>06-86812790</td>
                        </tr>
                        <tr>
                            <td>Johanna Dekker</td>
                            <td>Algemeen bestuurslid</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Lydia de Voogd</td>
                            <td>Secretaris</td>
                            <td>06-16117714</td>
                        </tr>
                        <tr>
                            <td>Marien Golverdingen</td>
                            <td>Voorzitter/penningmeester</td>
                            <td>06-13606432</td>
                        </tr>
                        <tr>
                            <td><b>--VACATURE--</b></td>
                            <td>Penningmeester</td>
                            <td><b>--VACATURE--</b></td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <h4 class="o-blue-text text-middle"><b>Even voorstellen</b></h4>
                    <div class="col s12 m6 offset-m3">
                        <img src="~/img/bestuur.jpg" class="responsive-img materialboxed" data-caption="Bas Weststrate, Lydia de Voogd, Johanna Dekker en Marien Golverdingen" alt="Overstag Rilland Bestuur" />
                        <p><strong>Bas, Johanna, Lydia en Marien</strong></p>
                    </div>
                    <br />
                    <div class="col s12 left-align">
                        <!--Bas-->
                        <br />
                        <blockquote>
                            Ik ben Johanna. Getrouwd met Harm en samen hebben we 3 kinderen.
                            De meeste tijd wil ik aan mijn gezin besteden. Daarnaast werk ik als pedagogisch medewerker bij
                            KIBEO.
                            Als ik wat tijd over heb geniet ik erg van mijn hobby’s. Zo bak ik graag lekkere en mooie taarten. Ook
                            kan ik erg genieten van wandelen in de natuur of een poosje in de tuin werken.
                            Ik ben blij met &quot;Overstag&quot;. De juiste plek waar jongeren elkaar kunnen ontmoeten. Daar hoop ik op
                            een goede manier fijne maar ook mooie momenten met jongeren te hebben.
                        </blockquote>
                        <!--h5>&emsp;&emsp;- Johanna</h5-->
                        <blockquote>
                            Ik ben Lydia de Voogd- de Pater, 23 jaar, woonachtig in Rilland.
                            Samen met mijn man, Arjan, heb ik 2 dochtertjes van 2 en 3 jaar.
                            Ik werk sinds kort op het Calvijn College, als onderwijs assistent, op de allround/rebound.
                            Het is geweldig om met jongeren op te trekken. Ik vind het mooi om me voor &quot;Overstag&quot; in te zetten.
                        </blockquote>
                        <!--h5>&emsp;&emsp;- Lydia</h5-->
                        <blockquote>
                            Mijn naam is Marien Golverdingen en ik ben 41 jaar oud. Samen met mijn vrouw Janneke hebben we
                            6 kinderen in de leeftijd van 0 t/m 18 jaar. We wonen vlak bij &quot;De kist&quot; waar de chillavonden van
                            &quot;Overstag&quot; worden georganiseerd. Janneke werkt in de gehandicaptenzorg en zelf werk in het
                            onderwijs. Op het Calvijn College in Krabbendijke ben ik teamleider van twee mooie VMBO
                            afdelingen: E&amp;O en BWI. Daarnaast geef ik nog wat lessen en begeleid ik jongeren die een eigen
                            bedrijfje opstarten. Omdat ik merkte dat er nauwelijks activiteiten werden georganiseerd voor
                            jongeren in Rilland van 15 jaar en ouder, ben ik samen met de andere bestuursleden aan de slag
                            gegaan om voor jongeren in Rilland supergezellige avonden te organiseren. Ik hoop dat veel
                            jongeren de christelijke chill- en activiteitenavonden van ‘Overstag’ gaan bezoeken!
                        </blockquote>
                        <!--h5>&emsp;&emsp;- Marien</h5-->
                        <br />
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.card').fadeIn();
        $('#_contact, #_mcontact').addClass('active');
        $('.carousel').carousel();
    });
</script>