@{
    ViewBag.Title = "Contact";
}

<body class="grey darken-3 white-text">
    <div class="col s10 offset-s1 center-align">
        <h2 class="blue-light-text">Contact</h2>
        <br />
        <h4 class="blue-middle-text"><b>Contact openemen</b></h4>
        <h5 class="blue-light-text">Schriftelijk</h5>
        <p class="flow-text">Voor schriftelijke correspondentie kan het adres van de secretaris gebruikt worden.</p>
        <br />
        <h5 class="blue-light-text">Email</h5>
        <p class="flow-text">Stuur een mail naar: <a href="mailto:secretaris@overstag.nl">secretaris@@overstag.nl</a></p>
        <br />
        <h5 class="blue-light-text">Adres chillavonden:</h5>
        <p class="flow-text">
            <i>
                De Kist<br />
                Cromvlietstraat 30<br />
                4411 AE Rilland
            </i>
        </p>
        <br />

        <h4 class="blue-middle-text"><b>Stichtingsbestuur</b></h4>
        <p>Het stichtingsbestuur bestaat uit 5 leden.</p>
        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Functie</th>
                    <th>Telefoonnummer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Marien Golverdingen</td>
                    <td>Voorzitter</td>
                    <td>06-13606432</td>
                </tr>
                <tr>
                    <td>Winniefred Tieman</td>
                    <td>Secretaris</td>
                    <td>06-16117714</td>
                </tr>
                <tr>
                    <td>Lydia de Voogd</td>
                    <td>Penningmeesteres</td>
                    <td>06-16117714</td>
                </tr>
                <tr>
                    <td>Johanna Dekker</td>
                    <td>Algemeen bestuurslid</td>
                    <td>06-21624483</td>
                </tr>
                <tr>
                    <td>Bas Westsrate</td>
                    <td>Algemeen bestuurslid</td>
                    <td>06-86812790</td>
                </tr>
            </tbody>
        </table>
        <!--Foto bestuur-->
        <!--Voorstelverhaal-->

        <br />

    </div>
</body>

<script>
    $(function () {
        $('#_contact').addClass('active');
        $('#_mcontact').addClass('active');
    });
</script>