@{
    ViewBag.Title = "Contact";
}

<body class="grey darken-3 white-text">
    <div class="col s10 offset-s1 center-align">
        <h2 class="blue-light-text">Contact</h2>
        <br />
        <h4 class="blue-middle-text"><b>Contact opnemen</b></h4>
        <h5 class="blue-light-text">Schriftelijk</h5>
        <p class="flow-text">Voor schriftelijke correspondentie kan het adres van de secretaris gebruikt worden.</p>
        <br />
        <h5 class="blue-light-text">Email</h5>
        <p class="flow-text">Stuur een mail naar: <a href="mailto:secretaris@overstag.nl">secretaris@@overstag.nl</a></p>
        <br />
        <h5 class="blue-light-text">Adres chillavonden:</h5>
        <p class="flow-text">
            <i>
                De Kist<br />
                Cromvlietstraat 30<br />
                4411 AE Rilland
            </i>
        </p>

        <div class="row">
            <div class="col s12 m6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2488.3168810104917!2d4.176958815291659!3d51.415605425232414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c4712824f1d49b%3A0x25ce4863672a4842!2sDe%20Kist!5e0!3m2!1snl!2snl!4v1567097762781!5m2!1snl!2snl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="col s12 m6">
                <div class="carousel">
                    <a class="carousel-item" href="#one!"><img src="~/img/kist1.jpg" style="height: 150%; width: 150%"></a>
                    <a class="carousel-item" href="#two!"><img src="~/img/kist2.jpg" style="height: 150%; width: 150%"></a>
                    <a class="carousel-item" href="#three!"><img src="~/img/kist3.jpg" style="height: 150%; width: 150%"></a>
                </div>
            </div>
        </div>
        <br />

        

        <h4 class="blue-middle-text"><b>Stichtingsbestuur</b></h4>
        <p>Het stichtingsbestuur bestaat uit 5 leden.</p>
        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Functie</th>
                    <th>Telefoonnummer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Marien Golverdingen</td>
                    <td>Voorzitter</td>
                    <td>06-13606432</td>
                </tr>
                <tr>
                    <td>Lydia de Voogd</td>
                    <td>Penningmeesteres</td>
                    <td>06-16117714</td>
                </tr>
                <tr>
                    <td>Johanna Dekker</td>
                    <td>Algemeen bestuurslid</td>
                    <td>06-21624483</td>
                </tr>
                <tr>
                    <td>Bas Westsrate</td>
                    <td>Algemeen bestuurslid</td>
                    <td>06-86812790</td>
                </tr>
                <tr>
                    <td><b>--VACATURE--</b></td>
                    <td>Secretaris</td>
                    <td><b>--VACATURE--</b></td>
                </tr>
            </tbody>
        </table>
        <!--Foto bestuur-->
        <!--Voorstelverhaal-->

        <br />

    </div>
</body>

<script>
    $(function () {
        $('#_contact').addClass('active');
        $('#_mcontact').addClass('active');
    });

    $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>