@model Overstag.Models.Event[]
@{
    ViewBag.Title = "Overstag - Activiteiten";
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("nl-NL");
    ViewBag.Description = "Stichting Overstag's activiteiten. Bekijk onze agenda en schrijf je in voor een van onze activiteiten!";
    ViewBag.Keywords = "Overstag, stichting overstag, Rilland, Reimerswaal, jongerenavonden rilland, jongerenavonden reimerswaal, overstag inschrijven, overstag meedoen";
}

<h5 class="blue-middle-text">&nbsp;Komende evenementen, onder het voorbehoud van <a href="https://herzienestatenvertaling.nl/teksten/jakobus/4#15" target="_blank">Jakobus 4:15</a></h5>

<table class="responsive-table">
    <thead>
        <tr>
            <th>Wat</th>
            <th>Wanneer</th>
            <th>Omschrijving</th>
            <th>Kosten</th>
            <th>Meedoen?</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Length > 0)
        {
            @foreach (var e in Model)
            {
                bool iss = Overstag.Core.General.DateIsPassed(e.When);
                double c = (double)e.Cost;
                <tr>
                    <td>@e.Title</td>
                    <td>@Html.Raw((iss) ? "(<b class=\"red-text\">te laat</b>) " : "")@e.When.ToString("D", culture) om @e.When.ToString("t", culture)</td>
                    <td>@e.Description</td>
                    <td>&euro;@Math.Round(c / 100, 2).ToString("F")</td>
                    <td><a class="btn green waves-effect" id="btnsub" onclick="Events.sub();">Inschrijven</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5"><h5>Nog geen activiteiten</h5></td>
            </tr>
        }
    </tbody>
</table>
<script>
    var Events = {
        init: function () {
            $('#_events, #_mevents').addClass('active');
            if (Overstag.type == 1)
                $('#btnsub').addClass('disabled');
        },
        sub: function () {
            if (!Overstag.loggedin) {
                localStorage.setItem("redirect", "/User/Events");
                $(location).attr('href', '/Register/Login');
            } else {
                $(location).attr('href', '/User/Events');
            }
        }
    }
    Events.init();
</script>