@{
    ViewBag.Title = "Overstag - Welkom!";
}

    <body class="grey darken-3">
        <div class="slider">
            <ul class="slides">
                <!-- Voeg meer li's toe voor een slideshow-->
                <li>
                    <img src="~/img/logo.png" class="grey darken-2 responsive-img">
                    <div class="caption center-align white-text">
                        <h2><b>Welkom bij Overstag!</b></h2>
                        <h5 class="light grey-text text-lighten-3">Welkom op onze website van stichting Overstag!</h5>
                    </div>
                </li>
            </ul>
        </div>
        <div class="white-text center-align flow-text">
            <h4 class="blue-middle-text"><b>Wat wij doen</b></h4>
            <p>
                Wij organiseren voor christelijke jongeren in Rilland en omgeving elke week een chill- of activiteitenavond.<br />
                We vinden het belangrijk dat christelijke jongeren uit Rilland en omgeving elkaar ontmoeten<br />en het samen gezellig hebben met elkaar.
            </p>
        </div>
        <br />
        <div class="white-text center-align grey darken-2">
            <br />
            <div class="flow-text">
                <h4 class="blue-middle-text"><b>Onze activiteiten</b></h4>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card blue-dark">
                        <div class="card-content white-text">
                            <span class="card-title"><b>Hoe verloopt een chill-avond?</b></span>
                            <h6>
                                De kist is open vanaf 20.00 tot 23.00 uur ’s avonds. Je kunt dan gezellig op de bank hangen, lekker kletsen of een activiteit doen met andere jongeren. Tussendoor krijg je wat te drinken en zorgen we voor wat lekkers op tafel. We beschikken in de kist over &quot;free wifi&quot; waar je ook gebruik van kan maken.  Ook hebben we een zingkwartiertje en zingen we (voor degenen die dat willen) wat liederen met elkaar. Aan het einde van de avond sluiten we af met bitterballen of minisnacks.
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card blue-dark">
                        <div class="card-content white-text">
                            <span class="card-title"><b>Hoe verloopt een activiteitenavond?</b></span>
                            <h6>
                                We verzamelen op een centraal punt in Rilland en vertrekken dan (meestal) met de auto naar de plek die is afgesproken.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <div class="white-text center-align flow-text">
            <h4 class="blue-middle-text"><b>Over ons</b></h4>
            <p>Meer informatie over onze stichting,<br />doelstelling en huisregels kan je vinden op de pagina <a href="/Home/About">Over ons</a></p>
        </div>
        <br />
        <div class="white-text grey darken-2 center-align flow-text">
            <br />
            <h4 class="blue-middle-text"><b>Contact</b></h4>
            <p>Als geinteresseerd of nog vragen hebt, neem dan <a href="/Home/Contact">contact</a> met ons op.</p>
            <br />
        </div>
    </body>

<script>
    Home = {
        init: function () {
            //Maak knopje active
            $("#_home").addClass("active");
            $("#_mhome").addClass("active");

            //When user is redirected from login, toast message once
            /*if(localStorage.getItem("login")){
                M.toast({ html: 'Successvol ingelogd!', classes: 'green' });
                localStorage.removeItem("login");
            }*/
            if(localStorage.getItem("logout")){
                M.toast({ html: 'Successvol uitgelogd!', classes: 'orange' });
                localStorage.removeItem("logout");
            }
        },


    }
    //call init function
    Home.init();
</script>