@{
    ViewBag.Title = "Stichting Overstag - Welkom!";
    ViewBag.Description = "Welkom op de website van stichting Overstag! Wij organiseren voor christelijke jongeren in Rilland en omgeving elke week een chill of activiteitenavond. We vinden het belangrijk dat christelijke jongeren uit Rilland elkaar ontmoeten en het samen gezellig hebben met elkaar.";
    ViewBag.Keywords = "Stichting Overstag, Overstag, Rilland, jongerenavond, overstag, christelijk, activiteiten, Reimerswaal, jongerenavonden rilland, jongerenavonden reimerswaal";
    ViewBag.Canonical = "https://stoverstag.nl/home";
}

<div class="row"></div>
<div class="row">
    <div id="homecard" style="display: none;" class="card col s12 m10 offset-m1 center-align rounded">
        <div class="card-content">
            <div class="row">
                <div class="logo-pad">
                    <img class="responsive-img col m10 s12 offset-m1" alt="Overstag Reimerswaal logo" src="~/img/logo.png" />
                </div>
                <h1 class="o-blue-text text-darken center-align col s12">Welkom bij Overstag!</h1>
            </div>
            <div class="row">
                <div class="center-align flow-text">
                    <h4 class="o-blue-text text-middle"><b>Wat wij doen</b></h4>
                    <p>
                        Wij organiseren voor christelijke jongeren in Rilland en omgeving elke week een chill- of activiteitenavond.<br />
                        We vinden het belangrijk dat christelijke jongeren uit Rilland en omgeving elkaar ontmoeten<br />en het samen gezellig hebben met elkaar.
                    </p>
                </div>
                <br />
                <div class="center-align">
                    <br />
                    <div class="flow-text">
                        <h4 class="o-blue-text text-middle"><b>Onze activiteiten</b></h4>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card o-blue darken">
                                <div class="card-content white-text">
                                    <span class="card-title"><b>Hoe verloopt een chill-avond?</b></span>
                                    <h6>
                                        De kist is open vanaf 20.00 tot 23.00 uur ’s avonds. Je kunt dan gezellig op de bank hangen, lekker kletsen of een activiteit doen met andere jongeren. Tussendoor krijg je wat te drinken en zorgen we voor wat lekkers op tafel. We beschikken in de kist over &quot;free wifi&quot; waar je ook gebruik van kan maken.  Ook hebben we een zingkwartiertje en zingen we (voor degenen die dat willen) wat liederen met elkaar. Aan het einde van de avond sluiten we af met bitterballen of minisnacks.
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card o-blue darken">
                                <div class="card-content white-text">
                                    <span class="card-title"><b>Hoe verloopt een activiteitenavond?</b></span>
                                    <h6>
                                        We verzamelen op een centraal punt in Rilland. Je wordt welkom geheten en we leggen uit hoe de avond er uit ziet.
                                        Voordat we vertrekken, bidden we met elkaar. Daarna vertrekken we (meestal) met de auto naar de plek die is afgesproken.
                                        Houd bij deze activiteiten de begintijd goed in de gaten want vaak gaan we eerder weg!
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="center-align flow-text">
                    <h4 class="o-blue-text text-middle"><b>Over ons</b></h4>
                    <p>Meer informatie over onze stichting,<br />doelstelling en huisregels kan je vinden op de pagina <a href="/Home/About">Over ons</a></p>
                    <br />
                    <h4 class="o-blue-text text-middle"><b>Contact</b></h4>
                    <p>Als geinteresseerd of nog vragen hebt, neem dan <a href="/Home/Contact">contact</a> met ons op.</p>
                    <br />
                    <div class="row">
                        <div class="col s12 m6 offset-m3">
                            <div class="card-panel rounded">
                                <div class="row valign-wrapper">
                                    <div class="col s2">
                                        <a href="https://www.instagram.com/st.overstag/" target="_blank"><img src="~/img/insta.png" alt="Overstag instagram st.overstag" class="circle responsive-img"></a>
                                    </div>
                                    <div class="col s10">
                                        <span class="flow-text">
                                            Volg ons nu ook op <a href="https://www.instagram.com/st.overstag/" target="_blank">Instagram</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <h5 class="o-blue-text text-middle">Zet het licht uit</h5>
                    <div class="switch">
                        <label>
                            Uit
                            <input type="checkbox" id="light">
                            <span class="lever"></span>
                            Aan
                        </label>
                    </div>
                    <br />
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

<script>
    Home = {
        init: function () {
            $("#_home, #_mhome").addClass("active");
            if (localStorage.getItem("logout")) {
                M.toast({ html: 'Successvol uitgelogd!', classes: 'orange' });
                localStorage.removeItem("logout");
            }

            $('#light').change(function () {
                if ($(this).prop('checked') == false) {
                    OverstagJS.Theme.setLight();
                } else {
                    OverstagJS.Theme.setDark();
                }
            });

            if (localStorage.getItem('darktheme') == 'true') {
                $('#light').attr('checked', true);
            }

            $('#homecard').fadeIn();
        }
    }

    $(function(){
        Home.init();
    });
</script>