@{
    ViewBag.Title = "Overstag - Welkom!";
}

<body class="grey darken-3">
    <div class="slider">
        <ul class="slides">
            <!-- Voeg meer li's toe voor een slideshow-->
            <li>
                <img src="~/img/logo.png" class="grey darken-2 responsive-img">
                <div class="caption center-align white-text">
                    <h2><b>Welkom bij Overstag!</b></h2>
                    <h5 class="light grey-text text-lighten-3">Dit is onze website.</h5>
                </div>
            </li>
        </ul>
    </div>

</body>

<script>
    //Maak knopje active
    $("#_home").addClass("active");
    $("#_mhome").addClass("active");
</script>