@{
    ViewBag.Title = "Overstag - Welkom!";
}

    <body class="grey darken-3">
        <div class="slider">
            <ul class="slides">
                <!-- Voeg meer li's toe voor een slideshow-->
                <li>
                    <img src="~/img/logo.png" class="grey darken-2 responsive-img">
                    <div class="caption center-align white-text">
                        <h2><b>Welkom bij Overstag!</b></h2>
                        <h5 class="light grey-text text-lighten-3">Dit is onze website.</h5>
                    </div>
                </li>
            </ul>
        </div>
        <!--Hier informatie-->
        <div id="part_info"></div>
    </body>

<script>
    Home = {
        init: function () {
            //Maak knopje active
            $("#_home").addClass("active");
            $("#_mhome").addClass("active");
            Home.loadpartial();

            //When user is redirected from login, toast message once
            /*if(localStorage.getItem("login")){
                M.toast({ html: 'Successvol ingelogd!', classes: 'green' });
                localStorage.removeItem("login");
            }*/
            if(localStorage.getItem("logout")){
                M.toast({ html: 'Successvol uitgelogd!', classes: 'orange' });
                localStorage.removeItem("logout");
            }
        },

        loadpartial: function () {
            $('#part_info').load('/html/home_info.html');
        }
    }
    //call init function
    Home.init();
</script>