@model List<Overstag.Models.Invoice>
@{
    ViewBag.Title = "Facturering";
    Layout = "_AccountancyLayout";
}

    <div class="center-align">
        <h2 class="blue-middle-text">Openstaande facturen</h2>
        <table>
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Datum</th>
                    <th>Bedrag</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{
                                @Html.Raw(item.User.Firstname + "&nbsp;")@Html.Raw(item.User.Lastname)
                            }
                        </td>
                        <td>@item.Timestamp.ToString("dd-MM-yyyy HH:mm:ss")</td>
                        <td>&euro;@Math.Round((double)item.Amount / 100, 2).ToString("F")</td>
                        <td>
                            <a class="btn red darken-4 waves-effect" href="/Pay/Invoice/@Uri.UnescapeDataString(item.InvoiceID)" target="_blank">Openen</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h2 class="blue-middle-text">Automatisch factureren</h2>
        <h6 class="blue-dark-text">
            Het algoritme op deze pagina brengt automatisch voor alle gebruikers die <input style="width: 3em" type="number" max="10" min="1" id="amount" value="5" class="col s1 center-align centered" /> of meer ongefactureerde activiteiten hebben staan de activiteiten in rekening dmv een factuur.
            <br />Ook wordt naar alle betreffende gebruikers een email gestuurd met een link naar de factuur.
        </h6>
        <p>
            <label>
                <input type="checkbox" id="sendEmail" class="filled-in" checked="checked" />
                <span>Stuur een email met de link naar de factuur</span>
            </label>
        </p>
        <br /><br />

        <a class="btn btn-large red darken-4 waves-effect disabled" id="btngenerate" onclick="M.Modal.getInstance($('#areusure')).open()">Facturen maken</a>
        <p class="red-text">Let op: Dit kan even duren</p>
        <br />

        <div id="info" style="display: none;">
            <h3 class="blue-middle-text">Resultaten</h3>
            <table class="centered">
                <thead>
                    <tr>
                        <th>Aantal gebruikers gefactureerd</th>
                        <th>Aantal mails mislukt te verzenden</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b id="uc">0</b></td>
                        <td><b id="fmc" class="red-text">0</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<div id="areusure" class="modal">
    <div class="modal-content">
        <h4>Weet je zeker dat je dit algoritme uit wilt voeren?</h4>
        <h6>Alle inschrijvingen van leden met een familie worden verwerkt (toegevoegd aan ouder) en alle mensen met meer dan 5 openstaande avonden krijgen een factuur.</h6>
    </div>
    <div class="modal-footer">
        <button class="btn modal-close waves-effect">Annuleren</button>
        <button class="btn green modal-close waves-effect" onclick="Invoice.preGenerate();">Uitvoeren</button>
    </div>
</div>

<script>
    var generateSucceed = false;
    var preGenerateSucceed = false;

    var Invoice = {
        init: function () {
            $('#_invoices, #_minvoices').addClass('active');
            $('#btngenerate').removeClass('disabled');

            if (sessionStorage.getItem('disablegenerate') == 1) {
                $('#btngenerate').addClass('disabled');
                if (sessionStorage.getItem('info')) {
                    $('#info').html(sessionStorage.getItem('info'));
                    $('#info').show();
                }
            }
        },
        generate: function () {
            $.post('/Accountancy/autoInvoice', {amount: $('#amount').val(), sendmail: $('#sendEmail').prop('checked')}, function (r) {
                if (r.status == 'success') {
                    generateSucceed = true;
                    M.toast({ html: 'Automatisch factureren gelukt', classes: 'green' });
                    sessionStorage.setItem('disablegenerate', 1);
                    $('#info').show();
                    $('#uc').text(r.usercount);
                    $('#fmc').text(r.failedmails);
                    sessionStorage.setItem('info', $('#info').html());
                } else {
                    console.log(r);
                    M.toast({ html: r.error, classes: 'red' });
                }
            }).done(function () {
                setTimeout(OverstagJS.Loader.hide, 200);
                Core.doReload(1500);
            }).fail(function () {
                OverstagJS.Loader.hide();
                $('#_progbar').hide();
                M.toast({ html: 'Er is iets flink fout gegaan', classes: 'red' });
            });
        },
        preGenerate: function () {
            OverstagJS.Loader.show();
            $('#_progbar').show();
            $('#btngenerate').addClass('disabled');

            $.getJSON('/Accountancy/processPUE', function (r) {
                if (r.succeed >= 0) {
                    M.toast({ html: 'Automatisch verwerken families voltooid:<br> ' + r.count + ' inschrijvingen verwerkt', classes: 'blue' });
                    preGenerateSucceed = true;
                    if (r.failed > 0) {
                        M.toast({ html: 'Verwerken van ' + r.failed + ' mislukt', classes: 'orange' });
                    } else {
                        Invoice.generate();
                    }
                }
            }).fail(function () {
                setTimeout(Invoice.generate, 200);
                M.toast({ html: 'Automatisch verwerken van families mislukt', classes: 'red' });
            });
        },
        preInit: function () {
            OverstagJS.Loader.init(Invoice.init);
        }
    };

    $(function () {
        Invoice.preInit();
    });
</script>