@page
@{
    ViewData["Title"] = "Websocket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="white-text center-align">Websocket test</h1>

<div class="row">
    <div class="col s3">
        <input type="text" class="white-text" id="tbinput" />
    </div>
    <div class="col s2">
        <button id="btnsend" class="btn blue waves-effect">Send</button>
        <button id="btnclose" class="btn red waves-effect">Close</button>
    </div>
</div>

<div class="row">
    <div class="white-text center-align">
        <h2>Responses:</h2>
        <h4 id="result">
        </h4>
    </div>
</div>

<script>
    var ws = new WebSocket('wss://@HttpContext.Request.Host/ws');

    ws.onerror = function (e) {
        M.toast({ html: e.data+'', classes: 'red' });
    };

    ws.onopen = function (e) {
        M.toast({ html: 'Connection established', classes: 'green' });
    };

    ws.onclose = function (e) {
        M.toast({ html: 'Connection closed', classes: 'orange' });
    };

    ws.onmessage = function (e) {
        M.toast({ html: e.data + '' });

        $('#result').html($('#result').html() + e.data + '<br/>');
    };

    $('#btnsend').click(function () {
        ws.send($('#tbinput').val());
    });

    $('#btnclose').click(function () {
        ws.close();
    });

</script>