@{
    ViewBag.Title = "Welkom";
    Layout = "_MentorLayout";
}

    <div class="center-align flow-text green-text text-darken-4">
        <h2>Welkom!</h2>
        <br />
        <h3><b>Snelle acties</b></h3>
        <a class="btn btn-large green darken-4 waves-effect" href="/Mentor/Today">Vandaag</a>
        <a class="btn btn-large blue darken-4 waves-effect" href="/Mentor/Stats">Statistieken/inschrijvingen</a>
        <a class="btn btn-large red darken-4 waves-effect" href="/Accountancy">Financiën</a>
        <br /><br />
        <a class="btn btn-large blue-middle waves-effect" href="/Mentor/Events">Activiteiten</a>
        <a class="btn btn-large yellow darken-1 waves-effect" href="/Mentor/Votes">Votes</a>
        <a class="btn btn-large red darken-1 waves-effect" href="/Mentor/Users">Ledenoverzicht</a>
    </div>

<script>
    $('#_home, #_mhome').addClass('active');
</script>