@{
    ViewBag.Title = "Welkom";
    Layout = "~/Views/_MentorLayout.cshtml";
}

<div class="center-align flow-text green-text text-darken-4">
    <h2>Welkom!</h2>
    <br />
    <h4><b>Snelle acties</b></h4>
    <button class="btn green darken-4">Presentie registreren</button>
</div>

<script>
    $('#_home, #_mhome').addClass('active');
</script>