@{
    ViewBag.Title = "Welkom";
    Layout = "~/Views/_MentorLayout.cshtml";
}

<div class="center-align flow-text green-text text-darken-4">
    <h2>Welkom!</h2>
    <br />
    <h3><b>Snelle acties</b></h3>
    <a class="btn btn-large green darken-4" href="/Mentor/Today">Vandaag</a>
</div>

<script>
    $('#_home, #_mhome').addClass('active');
</script>