@{
    Layout = "/Views/_UserLayout.cshtml";
    ViewBag.Title = "Evenementen";
}
    <div>
        <h3 class="center-align">Agenda &amp; inschrijvingen</h3>
        <div id="partial"></div>
    </div>
<div id="uitschrijven" class="modal">
    <div class="modal-content">
        <h4>Weet je zeker dat je jezelf wilt afmelden voor deze avond?</h4>
        <p>Natuurlijk kun je je altijd weer opnieuw inschrijven, voor het geval je er spijt van krijgt.</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect btn green white-text">Annuleren</a>
        <a onclick="Events.Unsubscribe();" id="btnunsub" class="modal-close waves-effect btn red white-text">Uitschrijven</a>
    </div>
</div>

<br />
<div class="row">
    <div class="col s10 offset-s1">
        <h4 class="blue-middle-text center-align">Voten</h4>
        <p class="flow-text">
            Wat zijn leuke activiteiten om te doen? Daar hebben jullie ook een stem in.<br />
            Via <a href="/User/Vote">deze link</a> of het knopje met het stemicoontje kan je zelf ook ideeën toevoegen. Breng anderen op de hoogte en vraag hen hun stem uit te brengen.
        </p>
        <br />
        <h4 class="blue-middle-text center-align">Huisregels</h4>
        <p class="flow-text">Tijdens onze activiteiten gelden bepaalde huisregels. Deze kun je <a href="/Home/About#huisregels">hier</a> vinden.</p>
    </div>
</div>


<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue-dark waves-effect" href="/User/Vote">
        <i class="large material-icons">how_to_vote</i>
    </a>
</div>



<script>
    let eventtoremove;
    var User = {
        init: function () {
            $('#_aevent, #_maevent').addClass('active');
            User.loadcontent();
        },
        loadcontent: function () {
            $('#partial').html('<h3>&nbsp;Laden...</h3>');
            $('#partial').load('/User/Subscriptions');
        }
    }

    $(document).ready(function () {
        $('.modal').modal();
        User.init();
    });

</script>

