@model Overstag.Models.Account
@{
    Layout = "/Views/_UserLayout.cshtml";
    ViewBag.Title = "Mijn account";
}

<div class="row">
    <div class="center-align flow-text col s10 offset-s1">
        &nbsp;<h4 class="blue-middle-text">Welkom <b>@Model.Firstname</b>!</h4>
        &nbsp;<h5>Navigeer via het <b>menu</b></h5>
        <p>
            Om jezelf in te schrijven voor een activiteit, navigeer je via het menu naar &quot;<a href="/User/Events"><b>Activiteiten</b></a>&quot;.<br />
            Wanneer je de instellingen van je account wilt bekijken en wijzigen, bijvoorbeeld je wachtwoord veranderen, navigeer je naar &quot;<a href="/User/Settings"><b>Instellingen</b></a>&quot;
        </p>

        <h4>Snel naar: </h4>
        <a class="btn btn-large red darken-4 waves-effect waves-light" href="/Tickets"><b>Tickets</b></a>

        @if (Model.Type != 1)
        {
            <a class="btn btn-large orange darken-4 waves-effect waves-light" href="/User/Events"><b>Inschrijven</b></a>
        }

        @if (Model.Type == 1)
        {
            <a class="btn btn-large purple darken-4 waves-effect waves-light" href="/Parent"><b>Mijn gezin</b></a>
        }

        @if (Model.Type >= 2)
        {
            <a class="btn btn-large green darken-4 waves-effect waves-light" href="/Mentor"><b>Overstag Bestuur</b></a>
        }

        @if (Model.Type >= 3)
        {
            <a class="btn btn-large blue darken-4 waves-effect waves-light" href="/Admin"><b>Overstag Admin</b></a>
        }

    </div>
</div>

<script>
    var User = {
        init: function () {
            $('#_ainfo, #_mainfo').addClass('active');
            OverstagJS.Security.init();
        },
    }

    $(function () {
        User.init();
    });

    $(document).ready(function(){
        $('.modal').modal();
    });

</script>

