@model Overstag.Models.Account
@{
    Layout = "/Views/_UserLayout.cshtml";
    ViewBag.Title = "Mijn account";
}
    <div>
        &nbsp;<h4>Welkom <b>@Model.Firstname</b>!</h4><br />

        &nbsp;<h5>Navigeer via het <b>menu</b></h5>
        <h6>Om jezelf in te schrijven voor een activiteit, navigeer je via het menu naar "<b>Activiteiten</b>".<br />
        Wanneer je de instellingen van je account wilt bekijken en wijzigen, bijvoorbeeld je wachtwoord veranderen, navigeer je naar "<b>Instellingen</b>"</h6>
    </div>
    <script>
        $(function(){
            $('#_ainfo').addClass('active');
            $('#_mainfo').addClass('active');
        });
    </script>
        
