@{
    ViewBag.Title = "Vote";
    Layout = "~/Views/_UserLayout.cshtml";
}

<h3>Ideeën voor activiteiten</h3>
<div id="ideas">
    <p>Laden...</p>
</div>
<table class="responsive-table">
    <tr><td colspan="3" class="center-align"><h6 style="font-weight: bold;">Idee toevoegen</h6></td></tr>
    <tr>
        <td>
            <input placeholder="Titel" id="tbtitle" type="text" class="validate">
        </td>
        <td>
            <input placeholder="Omschrijving" id="tbdesc" type="text" class="validate">
        </td>
        <td>
            <a class="waves-effect waves-light btn blue-dark" onclick="Vote.addIdea();">Toevoegen</a>
        </td>
    </tr>
</table>



<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue-dark waves-effect" href="/User/Events">
        <i class="large material-icons">arrow_back</i>
    </a>
</div>

<script>
    var Vote = {
        init: function () {
            $('#_aevent').addClass('active');
            $('#_maevent').addClass('active');
            //Load partial
            Vote.load();  
        },
        load: function () {
            $.get('/User/Ideas', function (r) {
                $('#ideas').html(r);
            }).done(function () {
                Vote.mapEvents();
            });
        },
        mapEvents: function () {
            $('.likebtn').off().on('click',function() {
                Vote.saveLike($(this).data('id'), 1);
            });
            $('.dislikebtn').off().on('click',function() {
                Vote.saveLike($(this).data('id'), 0);
            });
        },
        addIdea: function () {
            if ($('#tbtitle').val() == '' || $('#tbdesc').val() == '') {
                M.toast({ html: 'Vul a.u.b. alle velden in', classes: 'orange' });
            }
            else {
                $.post('/User/Vote/postIdea', { Title: $('#tbtitle').val(), Description: $('#tbdesc').val() }, function (r) {
                    if (r.status == 'success') {
                        Vote.load();
                    } else {
                        M.toast({ html: r.error, classes: 'red' });
                    }
                },'json');
            }
        },
        saveLike: function (id, like) {
            $.get('/User/Vote/Like/' + id + '/' + like, function (r) {
                if (r.status == 'success') {
                    Vote.load();
                }else {
                    M.toast({ html: r.error, classes: 'red' });
                    return false;
                }
            }, 'json');
        },
    };

    $(document).ready(function () {
        Vote.init();
    });
</script>