@{
    ViewBag.Title = "Toegang verlenen";
}

<div class="row"></div>
<div class="row">
    <div id="authcard" class="card col s12 m10 offset-m1 center-align rounded">
        <div class="card-content">
            <div class="row center-align">
                <h2 class="blue-middle-text">Toegang verlenen</h2>
                <h4><b>@ViewBag.AppName</b> wil graag toegang tot jouw Overstag account</h4>
                <br /><br />
                <button class="btn btna btn-large green waves-effect" onclick="allow();">Toestaan</button>
                <button class="btn btna btn-large red waves-effect" onclick="discard();">Weigeren</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Android == true)
{
    <script>
        $(function () {
            if (typeof (Android) == 'undefined') {
                $('button').addClass('disabled');
                $('#authcard').fadeOut(3000);
                M.toast({ html: 'Deze pagina werkt alleen in een app.', classes: 'red' });
                setTimeout(function () { window.location.href = '/User'; }, 3000);
            } else {
                androidInterface = true;
            }
        });
    </script>
}

<script>
    var androidInterface = false;
    console.log('@ViewBag.CallbackUrl');
    let randomToken = '@ViewBag.AuthToken';

    function allow() {
        $.post('/User/GetApiKey', { randomToken: randomToken }, function (r) {
            if (r.status == 'success') {
                if (localStorage.getItem('remember')) {
                    localStorage.removeItem('remember');
                }

                if (r.apiKey) {
                    console.log('Token: ' + r.apiKey);
                } else {
                    console.log(r.response);
                }
                
                if (androidInterface) {
                    Android.allow(r.apiKey);
                } else {
                    M.toast({ html: 'Gelukt! Je kunt deze pagina sluiten', classes: 'green' });
                }
                
            } else if (r.status == 'warning') {
                M.toast({ html: 'Toestemming geven gelukt, maar het lukt niet om de gegevens door te geven aan de applicatie.', classes: 'orange' });
            } else {
                M.toast({ html: `<span>Toestemming geven mislukt</span><button class="btn-flat white-text toast-action" onclick="window.location.reload();">Opnieuw proberen</button>`, classes: 'red', displayLength: 10000 });
            }

            $('.btna').addClass('disabled');
        });
    }

    function discard() {
        if (androidInterface) {
            Android.discard();
        } else {
            M.toast({ html: 'Toestemming geweigerd', classes: 'orange' });
            setTimeout(function () { window.location.href = '/User'; }, 2000);
            $('.btna').addClass('disabled');
        }
    }
</script>