@model Overstag.Models.Login
@{
    ViewBag.Title = "Inloggen";
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        string color = (ViewBag.Message.StartsWith("[Err]")) ? "red" : "grey";
        if (ViewBag.Message.StartsWith("[Err]")) { ViewBag.Message = ViewBag.Message.Replace("[Err]", ""); }
        <script>M.toast({ html: '@ViewBag.Message', classes: '@color' });</script>
    }
}
<body>
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h4 class="blue-light-text center-align"><b>Inloggen</b></h4>
            <div class="card-panel" style="display: block; margin-left: auto; margin-right: auto">
                @using (Html.BeginForm("postLogin", "Register", FormMethod.Post, new { @class = "login-form", id="frmlogin" }))
                {
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        @Html.TextBoxFor(m => m.Username, new { @class="checki",id = "Username", placeholder = "Gebruikersnaam of email" })
                        <label class="active" for="Username">Gebruikersnaam of email</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        @Html.PasswordFor(m => m.Password, new { @class="checki",id = "Password", placeholder = "Wachtwoord" })
                        <label for="Password">Wachtwoord</label>
                    </div>
                    <a>
                        @Html.ActionLink("Geen account? Maak er hier een", "Register", "Register")
                    </a>
                    <div class="card-action center-align">
                        <br />
                        <a class="btn blue-light waves-effect" id="btnlogin">Inloggen</a><br />
                        <span id="tbhelper" style="color: red; visibility: hidden;">Vul alle velden in</span>
                    </div>

                }

            </div>
        </div>
    </div>
</body>
<script>
    $("#_reg").addClass("active");
    $("#reg").addClass("active");

    $('#btnlogin').click(function () {
        var isValid = true;
        $('.checki').each(function () {
            if ($.trim($(this).val()) == '') {
                isValid = false;
            }
        });

        if (isValid) {
            postForm();
            $('#tbhelper').css('visibility', 'hidden');
        }
        else {
            $('#tbhelper').css('visibility', 'visible');
        }
    });

    function postForm() {
        $('#frmlogin').submit();
    }

</script>