@page
@{
    ViewBag.Title = "Overstag - Inloggen";
    ViewBag.Description = "Log in met jouw Overstag Account om je in te schrijven voor onze avonden en om te kunnen stemmen.";
    ViewBag.Keywords = "stichting overstag, overstag rilland, overstag reimerswaal, overstag inloggen, meedoen";
    ViewBag.Canonical = "https://stoverstag.nl/inloggen";
    ViewBag.NoJQ = true;
    ViewBag.Vue = true;
}

<div class="o-blue darken" style="height: 100%; vertical-align: middle;">
    <div class="row" id="app">
        <div class="row"></div>
        <h2 class="white-text center-align" v-if="!visible && !tfaVisible && !tfaRestoreVisible">Momentje...</h2>

        <transition name="fade">
            <div class="col s12 m8 offset-m2 l6 offset-l3" v-show="visible">
                <div class="card rounded">
                    <div class="card-content">
                        <h3 class="center-align o-blue-text text-middle">Inloggen</h3>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mail_outline</i>
                                <input id="Username" v-on:keydown="enter($event, false)" class="checki bigger-input" v-model="username" :disabled="disabled" type="text">
                                <label for="Username">Gebruikersnaam/email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="Password" v-on:keydown="enter($event, true)" class="checki bigger-input" v-model="password" :disabled="disabled" type="password">
                                <label for="password">Wachtwoord</label>
                            </div>
                        </div>
                        <div class="row">
                            <a class="overstagbtn col s12 waves-effect rounded" v-on:click="signIn" v-bind:class="{disabled: (disabled || !clickable)}">Inloggen</a>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <p class="margin left-align">
                                    <a href="/Register/Register"><b>Geen account?</b></a>
                                </p>
                            </div>
                            <div class="input-field col s6">
                                <p class="margin right-align">
                                    <a class="modal-trigger" href="/Register/Passreset"><b>Wachtwoord vergeten?</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>

        <transition name="fade">
            <div class="col s12 m8 offset-m2 l6 offset-l3" v-show="tfaVisible">
                <div class="card rounded">
                    <div class="card-content">
                        <h4 class="center-align o-blue-text text-middle">Tweetrapsauthenticatie</h4>
                        <div class="row">
                            <h6 class="center-align">Open uw 2fa-app en voer de authenticatiecode in</h6>
                            <div class="input-field col s12 m6 offset-m3">
                                <i class="material-icons prefix">lock_outline</i>
                                <input type="number" placeholder="000000" :disabled="validating" v-on:paste="validate2FA" v-on:keyup="validate2FA" v-model="tfaCode" maxlength="6" style="font-size: xx-large" id="tfacode">
                            </div>
                        </div>
                        <div class="center-align">
                            <button class="btn waves-effect orange" v-on:click="cancel2FA">Annuleren</button>
                            <a href="#!" class="btn waves-effect" onclick="app.tfaVisible = false; app.tfaRestoreVisible = true;">Code vergeten?</a>
                        </div>
                    </div>
                </div>
            </div>
        </transition>

        <transition name="fade">
            <div class="col s12 m8 offset-m2 l6 offset-l3" v-show="tfaRestoreVisible">
                <div class="card rounded">
                    <div class="card-content row center-align">
                        <h4 class="o-blue-text text-middle">Tweetrapsauthenticatie uitschakelen</h4>
                        <h6>Type hier een van uw backupcodes in:</h6>
                        <div class="row">
                            <div class="input-field col s12 m6 offset-m3">
                                <i class="material-icons prefix">lock_outline</i>
                                <input type="text" placeholder="Herstelcode" v-model="restoreCode" :disabled="validating" maxlength="12" style="font-size: x-large" data-length="12">
                            </div>
                        </div>
                        <button class="btn waves-effect orange" onclick="app.tfaRestoreVisible = false; app.tfaVisible = true;">Annuleren</button>
                        <button class="btn waves-effect green" :disabled="validating" v-on:click="restore2FA">Verzenden</button>
                    </div>
                </div>
            </div>
        </transition>

    </div>
</div>

<script>
    const redirectUrl = '@ViewBag.RedirectURL';
</script>

<script>
    $('#_progbar').show();

    let app = new Vue({
        el: '#app',
        mounted() {
            Overstag.General.restoreMe(() => { $('#_progbar').hide(); this.visible = true; this.focus() }, null, (u) => this.redirect(u));
        },
        data: {
            visible: false,
            tfaVisible: false,
            tfaRestoreVisible: false,
            disabled: false,
            clickable: true,
            validating: false,
            username: '',
            password: '',
            tfaCode: '',
            restoreCode: ''
        },
        methods: {
            enter(e, t) {
                if (e.keyCode == 13) {
                    if (t) this.signIn();
                    else $('#Password').focus();
                }
            },
            signIn() {
                if (this.isValid()) {
                    this.disabled = true;
                    $('#_progbar').show();
                    $.post('/Register/postLogin', { Username: this.username, Password: this.password }, (r, s) => {
                        $('#_progbar').hide();
                        if (s === 200) {
                            this.disabled = false;
                            if (r.status === 'success') {
                                this.type = r.type;

                                if (r.twofactor === 'yes') {
                                    //Handle 2fa
                                    this.token = r.token;
                                    this.visible = false;
                                    this.tfaVisible = true;
                                    this.username = this.password = '';
                                    Vue.nextTick(() => $('#tfacode').focus());
                                }
                                else {
                                    this.redirect();
                                    localStorage.setItem('remember', r.remember);
                                }
                            } else {
                                M.toast({ html: r.error, classes: 'red' });
                                this.username = this.password = '';
                                Vue.nextTick(() => $('#Username').focus());
                            }
                        } else {
                            M.toast({ html: 'Er is iets fout gegaan', classes: 'red' });
                        }
                    });
                    this.disabled = true;
                } else {
                    M.toast({ html: 'Vul a.u.b alle velden in', classes: 'blue' });
                }
            },
            isValid() {
                let v = true;
                $('.checki').each((e) => {
                    if (e.value.trim() === '')
                        v = false;
                });
                return v;
            },
            focus() {
                setTimeout(() => $('#Username').focus(), 100);
            },
            redirect(uType) {
                $('#_progbar').show();

                console.log(redirectUrl);
                if (redirectUrl && redirectUrl !== '') {
                    if (redirectUrl === 'RELOAD')
                        window.location.reload();
                    else
                        window.location.href = redirectUrl;

                    return;
                }

                let url = (t) => ({
                    0: '/User',
                    1: '/User',
                    2: '/Mentor',
                    3: '/Admin'
                })[t];

                window.location.href = url((uType !== undefined) ? uType : this.type);
            },
            cancel2FA: function () {
                this.tfaVisible = this.tfaRestoreVisible = false; this.tfaCode = this.restoreCode = ''; this.visible = true; this.focus();
            },
            validate2FA: function () {
                if (this.validating) return;
                if (this.tfaCode.length > 6) this.tfaCode = this.tfaCode.substring(0, 6);

                if (this.tfaCode.length === 6) {
                    this.validating = true;

                    //Generate timestring

                    $.post('/Register/Validate2FA', { token: this.token, code: this.tfaCode, datetime: new Date().getTime() }, (r, s) => {
                        if (s === 200) {
                            if (r.status === 'success') {
                                localStorage.setItem('remember', r.remember);
                                this.redirect();
                            } else if (r.status === 'timeout') {
                                M.toast({ html: 'Uw klok staat niet goed.', classes: 'orange' });
                            } else {
                                M.toast({ html: 'Code onjuist.', classes: 'orange' });
                                this.tfaCode = '';
                                this.validating = false;
                            }
                        } else {
                            M.toast({ html: 'Er is iets fout gegaan', classes: 'red' });
                        }
                    });
                }
            },
            restore2FA: function () {
                if (this.restoreCode === '') {
                    M.toast({ html: 'Vul a.u.b. een geldige code in', classes: 'orange' });
                    return;
                }

                this.validating = true;
                $.get(`/Register/Restore2FA/${this.token}/${encodeURIComponent(this.restoreCode)}`, (r, s) => {
                    if (s === 200) {
                        if (r.status === 'success') {
                            this.cancel2FA();
                            M.toast({ html: 'Code is juist. Log a.u.b. opnieuw in', classes: 'green' });
                        } else {
                            this.restoreCode = '';
                            M.toast({ html: 'Code onjuist', classes: 'red' });
                        }
                    } else {
                        M.toast({ html: 'Er is iets fout gegaan', classes: 'red' });
                    }
                    this.validating = false;
                }, 'json');
            }
        }
    });
</script>
