@model Overstag.Models.Account
@{
    ViewBag.Title = "Account aanmaken bij Overstag";
    ViewBag.Description = "Maak hier jouw Overstag account aan. Met een account kun je je inschrijven voor activiteiten en stemmen op ideeën";
    ViewBag.Keywords = "overstag, overstag rilland, overstag reimerswaal, stichting overstag, overstag account, registreren, account aanmaken";
}
    <body>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <h4 class="blue-light-text center-align"><b id="rtitle">Registreren</b></h4><br />
                <div class="card-panel" style="display: block; margin-left: auto; margin-right: auto">
                    <a href="/Register/Login"><b>Al een account? Log hier in</b></a>
                    <br /><br />
                    <form class="login-form" id="frmRegister">
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">account_circle</i>
                                <input type="text" class="validate checki" id="Firstname" placeholder="Voornaam" />
                                <label for="Firstname">Voornaam</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input type="text" class="validate checki" id="Lastname" placeholder="Achternaam" />
                                <label for="Lastname">Achternaam</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">home</i>
                                <input type="text" class="validate checki" id="Adress" placeholder="Adres + Huisnummer" />
                                <label for="Adress">Adres + Huisnummer</label>
                            </div>
                            <div class="input-field col s12 m2">
                                <input type="text" class="validate checki" maxlength="6" id="Postalcode" placeholder="Postcode" />
                                <label for="Postalcode">Postcode</label>
                            </div>
                            <div class="input-field col s12 m4">
                                <input type="text" class="validate checki" id="Residence" placeholder="Woonplaats" />
                                <label for="Residence">Woonplaats</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">account_circle</i>
                                <input type="text" class="validate checki" id="Username" placeholder="Gebruikersnaam" />
                                <label class="active" for="Username">Gebruikersnaam</label>
                            </div>
                            <div class="input-field col s12 m3">
                                <input type="date" class="checki" id="Birthdate" placeholder="Geboortedatum">
                                <label for="Birthdate">Geboortedatum</label>
                            </div>
                            <div class="input-field col s12 m3">
                                <p>
                                    Geslacht:&nbsp;
                                    <label>
                                        <input value="0" class="with-gap" name="sex" type="radio" checked />
                                        <span>M</span>&nbsp;
                                    </label>
                                    <label>
                                        <input value="1" class="with-gap" name="sex" type="radio" />
                                        <span>V</span>
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m7">
                                <i class="material-icons prefix">email</i>
                                <input type="email" class="validate checki" id="Email" placeholder="Email" />
                                <label for="Email">Email</label>
                                <span class="helper-text" data-error="Vul een geldig email adres in" data-success=""></span>
                            </div>
                            <div class="input-field col s12 m5">
                                <i class="material-icons prefix">phone</i>
                                <input type="text" maxlength="12" id="Phone" placeholder="Telefoonnummer" />
                                <label for="Phone">Telefoonnummer</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">lock</i>
                                <input type="password" class="validate checki" id="Password" placeholder="Wachtwoord" />
                                <label for="Password">Wachtwoord</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">lock</i>
                                <input type="password" placeholder="Wachtwoord herhalen" id="Passwordrep" class="checki" />
                                <label for="Passwordrep">Wachtwoord herhalen</label>
                            </div>
                            <span id="pwhelper" style="color: red; visibility: hidden;">Wachtwoorden komen niet overeen</span>
                        </div>
                        <div class="row">
                            <p>Type gebruiker: </p>
                            <p>
                                <label>
                                    <input value="0" class="with-gap" name="type" type="radio" checked />
                                    <span>Normale gebruiker</span>&nbsp;
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input value="1" class="with-gap" name="type" type="radio" />
                                    <span>Ouder (gezinsaccount)</span>
                                </label>
                            </p>
                        </div>
                        <div class="card-action center-align">
                            <br />
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" checked="checked" id="autologin" />
                                    <span>Automatisch inloggen</span>
                                </label>
                            </p>
                            <a class="btn btn-large blue-light waves-effect" id="register">Registreren</a><br />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue-light waves-effect" href="/Register/Login">
                <i class="large material-icons">arrow_back</i>
            </a>
        </div>
    </body>
<script>
    Register = {
        init: function () {
            $("#_reg, #_mreg").addClass("active");
            Register.mapEvents();
        },

        mapEvents: function () {

            //Detect & check if passwords matches
            $('#Password').on('keyup',function () {
                if ($('#Password').val() != $('#Passwordrep').val()) {
                    $('#pwhelper').css('visibility', 'visible');
                } else { $('#pwhelper').css('visibility', 'hidden'); }
            });

            $('#Passwordrep').on('keyup',function () {
                if ($('#Password').val() != $('#Passwordrep').val()) {
                    $('#pwhelper').css('visibility', 'visible');
                } else { $('#pwhelper').css('visibility', 'hidden'); }
            });

            $('#register').click(function () {
                Register.register();
            });
        },

        register: function () {
            var isValid = true;
            $('.checki').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                }
            });

            var passMatch = ($('#Password').val() == $('#Passwordrep').val());

            if (isValid && passMatch) {
                Register.post();
            }
            else {
                M.toast({ html: 'Vul a.u.b. alle velden correct in', classes: 'orange' });
            }
        },

        post: function () {
            $('#register').addClass('disabled');
            var data = {
                Username: $('#Username').val(),
                Password: $('#Password').val(),
                Email: $('#Email').val(),
                Firstname: $('#Firstname').val(),
                Lastname: $('#Lastname').val(),
                Adress: $('#Adress').val(),
                Postalcode: $('#Postalcode').val(),
                Residence: $('#Residence').val(),
                Sex: $('input[name=sex]:checked').val(),
                Type: $('input[name=type]:checked').val(),
                Birthdate: $('#Birthdate').val(),
                Phone: $('#Phone').val()
            };
            $('#_progbar').show();
            $('#rtitle').text('Registeren...');
            $('.checki').attr('disabled',true);
            $(window).scrollTop(0);
            $.post("/Register/postRegister",data , function (response) {
                if (response.status == 'success') {
                    M.toast({ html: 'Registratie successvol!!', classes: 'green' });
                    if ($('#autologin').prop('checked')) {
                        Register.postlogin();
                    } else {
                        $('.checki').val('');
                    }
                }
                else {
                    //status = error
                    M.toast({ html: response.error, classes: 'red' });
                    if (response.code == 0) {
                        $('#Username').val('');
                    }
                    else if (response.code == 1) {
                        $('#Email').val('');
                    }
                }
                }, 'json'
            ).done(function(){
                $('#_progbar').hide();
                $('#register').removeClass('disabled');
                $('#rtitle').text('Registeren');
                $('.checki').removeAttr('disabled');
            });
        },

        postlogin: function () {
            $('#_progbar').show();
            $.post("/Register/postLogin", { Username: $('#Username').val(), Password: $('#Password').val() }, function (response) {
                if (response.status == 'success') {
                    localStorage.setItem("login",true);
                    $(location).attr('href', '/User');
                    $('.checki').val('');
                }
                else {
                    //status = error
                    M.toast({ html: response.error, classes: 'red' });
                    $('.checki').val('');
                }
                }, 'json'
            ).done(function(){
                $('#_progbar').hide();
            });
        }
    }

    $(function () {
        Register.init();
    });
    //init
    
</script>