@{
    ViewBag.NoJQ = true;
    ViewBag.Vue = true;
    ViewBag.Title = "Account aanmaken bij Overstag";
    ViewBag.Description = "Maak hier jouw Overstag account aan. Met een account kun je je inschrijven voor activiteiten en stemmen op ideeën";
    ViewBag.Keywords = "overstag, overstag rilland, overstag reimerswaal, stichting overstag, overstag account, registreren, account aanmaken";
    ViewBag.Canonical = "https://stoverstag.nl/aanmelden";
}

@section Stylesheets {
    <link rel="stylesheet" type="text/css" href="~/icons/material-icons-outlined.css" />
}

<div class="row"></div>
<div class="row">
    <div class="col s12 m10 offset-m1" id="app">
        <transition name="fade">
            <div class="card-panel rounded" v-show="visible" style="margin-left: auto; margin-right: auto">
                <div class="row"></div>
                <h3 class="o-blue-text center-align" id="rtitle">Registreren</h3><br />
                <a href="/Register/Login"><b>Al een account? Log hier in</b></a>
                <br /><br />
                <form class="login-form" id="frmRegister">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons-outlined prefix">account_circle</i>
                            <input type="text" class="validate checki" name="Firstname" placeholder="Voornaam" />
                            <label>Voornaam</label>
                            <span class="helper-text" data-error="Vul a.u.b. je voornaam in"></span>
                        </div>
                        <div class="input-field col s12 m6">
                            <input type="text" class="validate checki" name="Lastname" placeholder="Achternaam" />
                            <label>Achternaam</label>
                            <span class="helper-text" data-error="Vul a.u.b. je achternaam in"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons-outlined prefix">home</i>
                            <input type="text" name="Adress" data-regex="\w+ \w+" class="validate checki" placeholder="Adres + Huisnummer" />
                            <label>Adres + Huisnummer</label>
                            <span class="helper-text" data-error="Vul a.u.b. een geldig adres in: Straat, spatie, huisnummer"></span>

                        </div>
                        <div class="input-field col s12 m2">
                            <input type="text" name="Postalcode" data-regex="^[1-9][0-9]{3} ?(?!sa|sd|ss|SA|SD|SS)[A-Za-z]{2}$" class="validate checki" maxlength="7" placeholder="Postcode" />
                            <label>Postcode</label>
                            <span class="helper-text" data-error="Vul a.u.b. een geldige postcode in"></span>
                        </div>
                        <div class="input-field col s12 m4">
                            <input type="text" name="Residence" class="validate checki" placeholder="Woonplaats" />
                            <label>Woonplaats</label>
                            <span class="helper-text" data-error="Vul a.u.b. je woonplaats in"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons-outlined prefix">account_circle</i>
                            <input type="text" name="Username" data-regex="^[a-zA-Z0-9_-]{3,20}$" class="validate checki" placeholder="Gebruikersnaam" />
                            <label>Gebruikersnaam</label>
                            <span class="helper-text" data-error="Gebruikersnaam mag geen spaties of speciale tekens bevatten met uitzondering van _ 3-20 tekens."></span>
                        </div>
                        <div class="input-field col s12 m3">
                            <input type="date" name="Birthdate" class="validate checki" placeholder="Geboortedatum">
                            <label>Geboortedatum</label>
                            <span class="helper-text" data-error="Vul a.u.b. je geboortedatum in"></span>
                        </div>
                        <div class="input-field col s12 m3">
                            <p>
                                Geslacht:&nbsp;
                                <label>
                                    <input value="true" class="with-gap" name="Gender" type="radio" checked />
                                    <span>M</span>&nbsp;
                                </label>
                                <label>
                                    <input value="false" class="with-gap" name="Gender" type="radio" />
                                    <span>V</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m7">
                            <i class="material-icons-outlined prefix">email</i>
                            <input type="text" name="Email" data-regex="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" class="validate checki" placeholder="Email" />
                            <label>Email</label>
                            <span class="helper-text" data-error="Vul a.u.b. een geldig email adres in" data-success=""></span>
                        </div>
                        <div class="input-field col s12 m5">
                            <i class="material-icons-outlined prefix">phone</i>
                            <input type="text" name="Phone" maxlength="12" placeholder="Telefoonnummer" />
                            <label>Telefoonnummer (niet verplicht)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons-outlined prefix">lock</i>
                            <input type="password" name="Password" v-on:keyup="validatePass" v-model="pass" class="validate checki" placeholder="Wachtwoord" />
                            <label>Wachtwoord</label>
                            <span class="helper-text" data-error="Vul a.u.b. een wachtwoord in"></span>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons-outlined prefix">lock</i>
                            <input type="password" v-on:keyup="validatePass" v-model="repPass" placeholder="Wachtwoord herhalen" class="validate checki" />
                            <label>Wachtwoord herhalen</label>
                            <span class="helper-text" data-error="Herhaal a.u.b. je wachtwoord"></span>
                        </div>
                        <span id="pwhelper" class="red-text" v-show="showPassHelper">Wachtwoorden komen niet overeen</span>
                    </div>
                    <div class="row">
                        <p>Type gebruiker: </p>
                        <p>
                            <label>
                                <input value="0" class="with-gap" name="Type" type="radio" checked />
                                <span>Normale gebruiker</span>&nbsp;
                            </label>
                        </p>
                        <p>
                            <label>
                                <input value="1" class="with-gap" name="Type" type="radio" />
                                <span>Ouder (gezinsaccount)</span>
                            </label>
                        </p>
                    </div>
                    <div class="card-action center-align">
                        <br />
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" v-model="allowAvg" />
                                <span>Ik ga akkoord met de <a href="/Register/Privacy" target="_blank">privacyvoorwaarden</a></span>
                            </label>
                        </p>
                        <div class="row">
                            <a class="overstagbtn waves-effect rounded col m6 offset-m3 s12" v-on:click="register" v-bind:class="{disabled: !allowAvg}">Registreren</a>
                        </div>
                    </div>
                </form>
            </div>
        </transition>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large o-blue waves-effect" href="/Register/Login">
        <i class="large material-icons-outlined">arrow_back</i>
    </a>
</div>
<script>
    let app = new Vue({
        el: '#app',
        mounted() {
            this.visible = true;
            $('#_reg, #_mreg').addClass('active');
            $('.checki').each((e) => {
                $(e).attr('id', $(e).attr('name'));
            })
        },
        data: {
            visible: false,
            showPassHelper: false,
            pass: '',
            repPass: '',
            allowAvg: false
        },
        methods: {
            validatePass: function () {
                this.showPassHelper = (this.pass != this.repPass);
                return !this.showPassHelper;
            },
            validate() {
                let valid = this.validatePass();
                $('.checki').each((e, i) => {
                    let el = $(e);
                    if (el.val().trim() === '') {
                        valid = false;
                        el.addClass('invalid');
                    } else {
                        if (el.data('regex') !== null) {
                            if (!new RegExp(el.data('regex')).test(el.val())) {
                                valid = false;
                                el.addClass('invalid');
                            }
                        }
                    }
                });

                if (!valid) M.toast({ html: 'Een of meerdere velden zijn niet correct ingevuld', classes: 'orange' });
                return valid;
            },
            register() {
                if (this.validate()) {
                    let data = $('#frmRegister').serialize();

                    $('#_progbar').show();
                    $('#rtitle').text('Registeren...');
                    $('.checki').attr('disabled', true);
                    this.allowAvg = false;
                    window.scrollTo(0, 0);
                    $.post('/Register/postRegister', data, (r, s) => {
                        if (s === 200) {
                            $('#_progbar').hide();
                            $('#rtitle').text('Registeren');
                            $('.checki').rmAttr('disabled');
                            this.allowAvg = true;

                            if (r.status === 'success') {
                                M.toast({ html: 'Registratie successvol!!', classes: 'green' });
                                $('.checki').val('');
                                setTimeout(() => { window.location.href = '/User'; }, 500);
                            } else {
                                M.toast({ html: r.error, classes: 'red' });
                                if (r.code == 0) {
                                    $('#Username').val('');
                                }
                                else if (r.code == 1) {
                                    $('#Email').val('');
                                }
                            }
                        }
                    }, 'json');
                }
            }
        }
    });
</script>