@{
    ViewBag.Title = "Overstag - Wachtwoord resetten";
    Layout = "_Layout";
    ViewBag.NoJQ = true;
}
<div class="row"></div>
<div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card rounded">
            <div class="card-content center-align">
                <h3 class="o-blue-text text-middle">Wachtwoord vergeten?</h3>
                <h6 class="grey-text">Vul het emailadres in dat je hebt gebruikt om dit account aan te maken.</h6>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mail_outline</i>
                        <input id="email" type="email" class="validate">
                        <span class="helper-text" data-error="Vul a.u.b. een geldige email in"></span>
                        <label for="email">Email-adres</label>
                    </div>
                    <div class="col s12">
                        <a class="btn waves-effect" href="/Register/Login">Annuleren</a>
                        <button onclick="send();" id="btn" class="btn green waves-effect">Verzenden</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function send() {
        let email = $('#email').val();
        if (email === '' || new RegExp('^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$').test(email) === false) {
            $('#email').addClass('invalid');
        } else {
            $('#_progbar').show();
            $('#btn').addClass('disabled');
            $.post('/Register/postMailreset', { Email: email }, function (r) {
                if (r.status === 'success') {
                    $('#email').val('')
                    M.toast({ html: 'Mail verzonden. Check je email a.u.b.&nbsp;<br><b>&nbsp;Controleer ook je spam map</b>', displayLength: 2500, completeCallback: () => { window.location.href = '/Register/Login'; }, classes: 'green' });
                }
                else {
                    M.toast({ html: r.error, classes: 'red' });
                    $('#email').val('');
                    $('#_progbar').hide();
                    $('#btn').rmClass('disabled');
                }
            }, 'json');
        }
    }

    $(() => $('#email').focus());
</script>