@{
    Layout = "~/Views/_AdminLayout.cshtml";
    ViewBag.Title = "Betalingen";
}
<div class="center-align white-text">
    <h3>Betalingen</h3>
</div>
<script>
    var Pay = {
        init: function () {
            $('#_billing').addClass('active');
        }
    }

    Pay.init();
</script>