@model List<Overstag.Models.NoDB.AUnpayed>
@{
    Layout = "~/Views/_AdminLayout.cshtml";
    ViewBag.Title = "Betalingen";
    
}
<div class="center-align white-text">
    <br />
    <h3>Ongefactureerde avonden per gebruiker</h3>
    <table class="table text-white">
        <thead>
            <th>Naam</th>
            <th>Ongefactureerde avonden</th>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.User.Firstname@Html.Raw("&nbsp;")@item.User.Lastname</td>
                    <td>
                        @if (item.Unfactured_Events.Count > 0)
                        {
                            <table class="table text-white">
                                <thead>
                                    <th>Titel</th>
                                    <th>Kosten</th>
                                </thead>
                                <tbody>
                                    @{ int val = 0; }
                                    @foreach (var i in item.Unfactured_Events)
                                    {
                                        <tr>
                                            <td>@i.Title</td>
                                            <td>&euro;@Math.Round(Convert.ToDecimal(i.Cost) / 100, 2).ToString("F")</td>
                                        </tr>
                                        val += i.Cost;
                                    }
                                    
                                    <tr class="grey darken-2">
                                        <td colspan="3"><b>Totaal: &euro;@Math.Round(Convert.ToDecimal(val) / 100, 2).ToString("F")</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>Geen ongefactureerde avonden</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3>Openstaande facturen per gebruiker</h3>
    <div id="facturen">
        <table class="table text-white">
            <thead>
                <th>Naam</th>
                <th>Openstaande facturen</th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.User.Firstname@Html.Raw("&nbsp;")@item.User.Lastname</td>
                        <td>
                            @if (item.Unpayed_Invoices.Count > 0)
                            {
                                <table class="table text-white">
                                    <thead>
                                        <th>Datum</th>
                                        <th>Kosten</th>
                                    </thead>
                                    <tbody>
                                        @{ int val = 0; }
                                        @foreach (var i in item.Unpayed_Invoices)
                                        {
                                            <tr>
                                                <td>@i.Timestamp.ToShortDateString()</td>
                                                <td>&euro;@Math.Round(Convert.ToDecimal(i.Amount) / 100, 2).ToString("F")</td>
                                            </tr>
                                            val += i.Amount;
                                        }

                                        <tr class="grey darken-2">
                                            <td colspan="3"><b>Totaal: &euro;@Math.Round(Convert.ToDecimal(val) / 100, 2).ToString("F")</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>Geen openstaande facturen</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    var Pay = {
        init: function () {
            $('#_billing').addClass('active');
        }
    }

    Pay.init();
</script>