@{
    Layout = "~/Views/_AdminLayout.cshtml";
    ViewBag.Title = "Database";
}
    <div>
        <h3>Database</h3>
        <br />
        <hr />
        <h5>Query uitvoeren</h5>
        <div class="input-group bg-dark">
            <div class="input-group-append">
                &nbsp;&nbsp;<input type="text" id="query" placeholder="SQL-Query..." class="" />
            </div>
            <div class="input-group-append">
                <button id="firequery" onclick="Database.postquery();" class="btn btn-danger">Uitvoeren</button>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col s12 m6">
                &nbsp;
                <select class="input-field" id="tablename">
                    <option>Accounts</option>
                    <option>Events</option>
                    <option>Participate</option>
                    <option>Invoices</option>
                    <option>Logging</option>
                </select>
            </div>
            <div class="col s12 m6">
                <input type="text" id="type" placeholder="Type" class="white-text" />
                <p>Type: 0: Uitvoer-query, 1: read single, 2: read list, 3: read array</p>
            </div>

        </div>
        <br />
        <hr />
        <h5>Output</h5>
        &nbsp;&nbsp;&nbsp;
        <div id="output">

        </div>
    </div>

<script>
    $('#_database').addClass('active');

    var Database = {
        init: function () {
            $('#progbar').hide();
            $('#tablename').addClass('white-text');
        },
        postquery: function () {
            $.post("/Admin/Query", { Query: $('#query').val(), TableName: $('#tablename option:selected').text(), Type: $('#type').val() }, function (response) {
                if (response.status == 'success') {
                    //M.toast({ html: 'Query successfull', classes: 'green rounded' });
                    console.log(response.data);
                    var output = JSON.stringify(response.data);
                    $('#output').text(output);
                }
                else {
                    //status = error
                    //M.toast({ html: response.error, classes: 'red' });
                    var output = JSON.stringify(response.error);
                    $('#output').text(output);
                }
                }, 'json'
            ).done(function(){
                $('#progbar').hide();
            });
        }
    }


    $(document).ready(function(){
        $('select').formSelect();
        Database.init();
    });


</script>
