@{
    ViewData["Title"] = "Admin home";
}

<div>
    
</div>

<script>
    var Admin = function () {
        return {
            init: function () {
                $('#_title').html('&nbsp;Overstag Admin');
                $('#btnsnow').remove();
            }
        };
    }();

    $(function () {
        Admin.init();
    });
</script>