@{
    ViewData["Title"] = "Admin";
    Layout = "/Views/_AdminLayout.cshtml";
}
<br />

<div class="center-align white-text">
    <h2>Kies een item uit het menu</h2>
    <br /><br />
    <h3>Snelle acties</h3>
    <br />
    <button class="btn btn-primary" onclick="location.href='/Admin/initdb'">Database initialiseren</button>
    <button class="btn btn-danger" onclick="deletedb()">Database verwijderen</button>
</div>
<script>
    $('#_ahome').addClass('active');

    function deletedb() {
        if (confirm('Weet u zeker dat u de database wilt verwijderen? Deze actie kan niet ongedaan worden gemaakt!'))
            if (confirm('Zeker weten? Alle data gaat verloren!'))
                location.href='/Admin/deletedb'
    }
</script>