@{
    ViewData["Title"] = "Admin";
    Layout = "/Views/_AdminLayout.cshtml";
}
<br />

<div class="center-align">
    <h2>Kies een item uit het menu</h2>
    <br /><br />
    <h3>Snelle acties</h3>
    <button onclick="location.href='/Admin/init'">Database initialiseren</button>
</div>
