@page
@model Overstag.LasergameModel
@{
    ViewData["Title"] = "Lasergame";
    Layout = "~/Views/Shared/_MentorLayout.cshtml";
}

@section Scripts {
    <script src="~/js/Live.js"></script>
}

<h1>Lasergame</h1>

<div class="row">
    <div class="col s8">
        <h3>Spel</h3>
        <p>Ronde</p>
        <input type="text" class="col s1 white-text" id="newround" value="1" />
        <br/><br/><p>Lengte in seconden</p>
        <input type="text" class="col s1 white-text" id="newlength" value="300" /><br /><br/><br/>
        <div class="col s3">
            <p>
                <label>
                    <input type="checkbox" id="audio" checked="checked" />
                    <span>Audio aan</span>
                </label>
            </p>
        </div>
        <button onclick="Lasergame.newGame();" class="btn waves-effect green">Nieuw spel</button>

        <h3>Ronde</h3>
        <button onclick="Lasergame.nextRound();" class="btn waves-effect green">Nieuwe ronde</button>
        <input type="text" class="col s1 white-text" id="round" value="1" />
        <button onclick="OverstagLive.send('lg_reset')" class="btn waves-effect red">Wissen</button>


        <h3>Geluid</h3>
        <button onclick="OverstagLive.send('lg_mute','true')" class="btn waves-effect green">Geluid aan</button>
        <button onclick="OverstagLive.send('lg_mute','false')" class="btn waves-effect red">Geluid uit</button>
        <button onclick="OverstagLive.send('lg_playSound','nuclear')" class="btn waves-effect yellow darken-2">Nucleair alarm</button>
        <button onclick="OverstagLive.send('lg_playSound','emergency')" class="btn waves-effect yellow darken-2">Emergency alarm</button>
        <button onclick="OverstagLive.send('lg_playSound','tornado')" class="btn waves-effect yellow darken-2">Tornado alarm</button>

        <h3>Scores</h3>
        <input type="text" class="col s3 white-text" id="name" />
        <button onclick="Lasergame.addScore($('#name').val());" class="btn green waves-effect">Toevoegen</button>
        <button onclick="Lasergame.addScore('Team <b class=\'blue-text\'>blauw</b>');" class="btn blue waves-effect">Team blauw</button>
        <button onclick="Lasergame.addScore('Team <b class=\'red-text\'>rood</b>');" class="btn red waves-effect">Team rood</button>
        <button onclick="Lasergame.addScore('Team <b class=\'yellow-text\'>geel</b>');" class="btn yellow darken-2 waves-effect">Team geel</button>
        <button onclick="Lasergame.addScore('Team <b class=\'green-text\'>groen</b>');" class="btn green waves-effect">Team groen</button>

        <table>
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Score</th>
                    <th>Actie</th>
                </tr>
            </thead>
            <tbody id="scores">
            </tbody>
        </table>

    </div>
    <div class="col s4">
        <h3>Log</h3>
        <h6 id="log"></h6>
    </div>
</div>

<script>
    var Lasergame = function () {
        return {
            init: function () {
                $('#_title').html('&nbsp;Lasergame LIVE Mentor');
                $('#_title').parent().removeClass('green darken-4').addClass('blue-grey darken-3');
                $('body').addClass('blue-dark white-text');
                OverstagLive.init('wss://@HttpContext.Request.Host/ws?type=1&noBroadcast=1', Lasergame.handler);
            },
            handler: function (data) {
                $('#log').append(data + '\n');
            },
            nextRound: function () {
                OverstagLive.send('lg_nextRound', '' + $('#round').val());
                $('#round').val(Number($('#round').val()) + 1);
            },
            addScore: function (name) {
                var html = 
                    `
                    <tr>
                        <td><b>${name}</b></td>
                        <td id="id-${name}">0</td>
                        <td>
                            <button onclick="Lasergame.updateScore('${name}',true)" class="btn waves-effect green">+</button>
                            <button onclick="Lasergame.updateScore('${name}',false)" class="btn waves-effect red">-</button>
                        </td>
                    </tr>
                    `;
                $('#scores').append(html);
                OverstagLive.send('lg_update', name + ',0');
            },
            updateScore: function (name, add) {
                var score = Number($('#id-' + name).val()) + ((add) ? 1 : -1);
                $('#' + name).val(score);
                OverstagLive.send('lg_update', name + ',' + score+((add) ? 1 : -1));
            },
            newGame: function () {
                OverstagLive.send('lg_insert', $('#newround').val() + ',' + $('#newlength').val() + ',' + ($('#audio').prop('checked') ? 'true' : 'false'));
            }

        };
    }();
</script>

<script>
    $(function () {
        Lasergame.init();
    });
</script>