@page
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/js/Live.js"></script>
}

<div>
    Hello!
</div>

<script type="text/javascript">
    function handle(data) {
        M.toast({ html: data });
        console.log(JSON.parse(data));
    }

    let live = OverstagLive.init('wss://localhost:5001/ws?type=2&name=Henkje', handle, handle, true);

</script>